<div class="createData">
    <input type="text" id="name">
    <input type="number" id="age">
    <button id="send" onclick="createData(this)">enviar</button>
</div> <br><br><br>

<div >
    <ul id="viewData">
    </ul>
</div>