<div class="createData">
    <input type="text" id="name">
    <input type="number" id="age">
    <button id="send" onclick="createData(this)">enviar</button>
</div> 

<div class="view-container">
    <table id="viewData">
        <tbody>
            <tr>
                <th><input type="checkbox"></th>
                <th>Nome</th>
                <th>Idade</th>
                <th></th>
                <th></th>
                <th>Ações</th>
            </tr>
        </tbody>
        
    </table>
</div>